html, body{
    height:100%;
    margin: 0;
    padding: 0;
}
.responsive-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.item{
    height:auto;
    width: 100%;
    padding:1em;
    background-color: var(--primary-color);
}
.grid-container{
display: grid;
grid-template-areas: 
    "header header"
    "left right"
    "footer footer";
grid-template-rows: 80px 1fr 50px;
grid-template-columns: 200px 1fr;
height:100%;
}
.footer{
grid-area: footer;
}
footer{
 background-color: aqua;
}
.right{
    grid-area: right;
    background-color: darkgoldenrod;
}
.left{
    grid-area: left;
    background-color: darkgreen;
}
h1{
    background-color: brown;
}
.header{
    grid-area: header;
}