html, body{
    height:100%;
    margin: 0;
    padding: 0;
}
.grid-container{
display: grid;
grid-template-areas: 
    "header header"
    "left right"
    "footer footer";
grid-template-rows: 80px 1fr 50px;
grid-template-columns: 200px 1fr;
height:100%;
}
.footer{
grid-area: footer;
}
footer{
 background-color: aqua;
}
.right{
    grid-area: right;
    background-color: darkgoldenrod;
}
.left{
    grid-area: left;
    background-color: darkgreen;
}
h1{
    background-color: brown;
}
.header{
    grid-area: header;
}